/* Ensures that all controls are displayed above elements from other mods, eg. Token Actions HUD */
#controls { z-index: 300; }

div.thandulTogglables {
    display: none;
    position: relative;
    top: -46px;
    left: 50px;
    font-size: 0px;
    line-height: 1;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px #000;
    color: #BBB;
    border: 1px solid #000;
    border-radius: 5px;
}

div.thandulTogglables ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 8px 0 8px;
    box-sizing: content-box;
}

div.thandulTogglables ul:first-child {
    padding-top: 8px;
}

div.thandulTogglables ul:last-child {
    padding-top: 8px;
}

#controls li.active[data-tool="thandulTogglables"] div.thandulTogglables {
    display: inline-block;
}

div.thandulTogglables li {
    display: inline-block;
    width: 96px;
    text-align: center;
    padding: 0 8px 0 8px;
    border-right: 1px solid #333;
    height: 100%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
}

div.thandulTogglables li img {
    margin: 0 auto 0 auto;
    width: 56px;
}

div.thandulTogglables li p {
    margin-top: 8px 0 0 0;
    padding: 0;
    height: auto;
    font-size: small;
    overflow-wrap: break-word;
}

div.thandulTogglables li:hover {    
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

.thandul-togglables-scene-control img {
    display: block;
    width: inherit;
    height: inherit;
    margin-left: 0;
    margin-right: 0;
    border-radius: inherit;
    border: none;
}

.fa-thandul {
    content: url(../media/thandul.svg);
    filter: brightness(80%);
}

#controls li.active > .fa-thandul, .fa-thandul:hover {
    filter: brightness(100%);
}